@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
	--color-bg-0: #ffffff;
	--color-bg-1: #f8f8f8;
	--color-bg-2: #e5e5e5;
	--color-bg-3: #dddddd;
	--color-bg-4: #d4d4d4;
	--color-bg-5: #cecece;
	--color-bg-6: #c3c3c3;

	--color-primary: #0078d4;
	--color-error: #f85149;
	--color-success: #2ea043;
	--color-warning: #ffd000;

	--color-fg-0: #000000;
	--color-fg-1: #1f1f1f;
	--color-fg-2: #222222;
	--color-fg-3: #3b3b3b;
	--color-fg-4: #424242;
	--color-fg-5: #575757;
	--color-fg-6: #616161;
}

.dark {
	--color-bg-0: #181818;
	--color-bg-1: #1f1f1f;
	--color-bg-2: #222222;
	--color-bg-3: #2b2b2b;
	--color-bg-4: #313131;
	--color-bg-5: #3c3c3c;
	--color-bg-6: #454545;

	--color-primary: #0078d4;
	--color-error: #f85149;
	--color-success: #2ea043;
	--color-warning: #ffd000;

	--color-fg-0: #ffffff;
	--color-fg-1: #d0d0d0;
	--color-fg-2: #cccccc;
	--color-fg-3: #9d9d9d;
	--color-fg-4: #868686;
	--color-fg-5: #707070;
	--color-fg-6: #616161;
}
